<h2 class="section">Jugadores disponibles</h2>
<div class="buttonsPlayers">
  <div class="row">
    <div class="col-3 col-sm-3 text-center">
      <button id="buttonGoalkeeper" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#goalkeeper" aria-pressed="true" aria-expanded="true" aria-controls="collapseMyTeam">
        PT
      </button>
    </div>
    <div class="col-3 col-sm-3 text-center">
      <button id="buttonDefender" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#defender" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
        DF
      </button>
    </div>
    <div class="col-3 col-sm-3 text-center">
      <button id="buttonMidfielder" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#midfielder" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
        MC
      </button>  
    </div>
    <div class="col-3 col-sm-3 text-center">
      <button id="buttonForward" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#forward" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
        DL
      </button>
    </div>
  </div>
</div>          
<div class="collapse multi-collapse" id="goalkeeper">
  <div class="card card-body">
    {% include 'table.html' with {data: goalkeeper} %}
  </div>
</div>
<div class="collapse multi-collapse" id="defender">
  <div class="card card-body">
    {% include 'table.html' with {data: defender} %}
  </div>
</div>
<div class="collapse multi-collapse" id="midfielder">
  <div class="card card-body">
    {% include 'table.html' with {data: midfielder} %}
  </div>
</div>
<div class="collapse multi-collapse" id="forward">
  <div class="card card-body">
    {% include 'table.html' with {data: forward} %}
  </div>
</div>