<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Mister :: Hexágono imberbe</title>
  </head>
  <body>
    <div class="container">
      <h1>Mister :: Hexágono imberbe - Clausulazos v.1.1.0</h1>
      <h2>Mi equipo</h2>
      
      <p>
        <button id="buttonMyTeam" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMyTeam" aria-pressed="true" aria-expanded="true" aria-controls="collapseMyTeam">
          Sorted by position
        </button>
        <button id="buttonMyTeamSorted" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseMyTeamSorted" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
          Sorted by points
        </button>
      </p>
      <div class="collapse multi-collapse" id="collapseMyTeam">
        <div class="card card-body">
          {% include 'table.html' with {data: myTeam} %}
        </div>
      </div>
      <div class="collapse multi-collapse" id="collapseMyTeamSorted">
        <div class="card card-body">
          {% include 'table.html' with {data: myTeamSorted} %}
        </div>
      </div>
      
      <h2>Resto jugadores</h2>
      <p>
        <button id="buttonGoalkeeper" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#goalkeeper" aria-pressed="true" aria-expanded="true" aria-controls="collapseMyTeam">
          Porteros :: Sorted by position
        </button>
        <button id="buttonDefender" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#defender" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
          Defensas :: Sorted by points
        </button>        
        <button id="buttonMidfielder" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#midfielder" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
          Medios :: Sorted by points
        </button>        
        <button id="buttonForward" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#forward" aria-pressed="true" aria-expanded="false" aria-controls="collapseMyTeamSorted">
          Delanteros :: Sorted by points
        </button>
      </p>
      <div class="collapse multi-collapse" id="goalkeeper">
        <div class="card card-body">
          {% include 'table.html' with {data: goalkeeper} %}
        </div>
      </div>
      <div class="collapse multi-collapse" id="defender">
        <div class="card card-body">
          {% include 'table.html' with {data: defender} %}
        </div>
      </div>
      <div class="collapse multi-collapse" id="midfielder">
        <div class="card card-body">
          {% include 'table.html' with {data: midfielder} %}
        </div>
      </div>
      <div class="collapse multi-collapse" id="forward">
        <div class="card card-body">
          {% include 'table.html' with {data: forward} %}
        </div>
      </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="public/js/mister.js"></script>
  </body>
</html>